# ビルド後ディレクトリ
/app/tmp

# 環境変数ファイル
/infra/app/.env
/infra/db/.env
/infra/observer/.env

# DBデータ
infra/db/data
infra/db/data.bk
infra/db/backup/*.dump

# ログファイル
infra/observer/log

# 秘密鍵
/infra/InvestSupporter.pem

# モックアップファイル
*mockup.js

# 本番環境設定メモ
README.prod.md

# 他
/test.go
