services:
    app:
        build:
            context: .
            dockerfile: ./infra/app/app.dockerfile
        tty: true  # コンテナを起動したままにする
        env_file:
            - ./infra/app/.env
        environment:
            - TZ=Asia/Tokyo
        ports:
            - 7203:8080
        networks:
            - backend
        depends_on:
            - db
        restart: always
    db:
        build:
            context: .
            dockerfile: ./infra/db/db.dockerfile
        env_file:
            - ./infra/db/.env
        environment:
            - TZ=Asia/Tokyo
        volumes:
            - ./infra/db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d/
            - ./infra/db/data:/var/lib/postgresql
            - ./infra/db/backup:/var/lib/postgresql/backup
        ports:
            - 5432:5432
        networks:
            - backend
        restart: always
    observer:
        build:
            context: .
            dockerfile: ./infra/observer/observer.dockerfile
        tty: true
        env_file:
            - ./infra/observer/.env
        environment:
            - TZ=Asia/Tokyo
        volumes:
            - ./infra/observer/log:/log
        networks:
            - backend
        restart: always

networks:
    backend:
        driver: bridge
